@use "sass:list";
@use "../../styles/mixin";
@use "../../styles/variables";

.video-list {
    list-style: none; 
    padding-left: 0; 
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

  @include mixin.tablet  {
    padding-left: 40px;
    padding-right: 30px;
  }
  
    @include mixin.desktop  {
        position: absolute;
        right: 0;
        width: 30%;
        padding-right: 70px;

    }
      
    .video-list__item {
        display: flex;
        cursor: pointer;
        align-items: center;
        &:hover {
            background-color: variables.$dark-white;
        }

        img {
            width: 130px;
            height: 80px;
            margin-right: variables.$video-margin-right;
            padding: 5px;
            border-radius: 10px;
            
            @include mixin.tablet  {
                width: list.nth(variables.$image-size, 1);
                height: list.nth(variables.$image-size, 2);
                padding: variables.$padding-standard;
                border-radius: variables.$border-radius-large;
              }

        }

        &__thumbnail {
            width: list.nth(variables.$thumbnail-size, 1);
            height: list.nth(variables.$thumbnail-size, 2);
            margin-right: variables.$video-margin-right;
        }

        &__info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0;
            padding: 0;
            align-content: space-between;
        }

        &__title, &__author { 
        }
    }

    &__maintitle {
        color: variables.$silver;
        padding-left: 15px;
        font-size: 0.8rem;
    }
}

.video-list__title, .video-list__channel {
    margin: 0;
}

.video-list__title {
    margin-bottom: 35px;
}
