.hero {
    .hero__video {
        width: 100%;
        height: auto;
    }
    .hero__title, .hero__author, .hero__date, .hero__views, .hero__likes, .hero__description {
        margin: 10px 0;
    }
}
