$breakpoint-desktop: 1280px; 
$breakpoint-tablet: 768px;  
$breakpoint-mobile: 767px;  

$padding-horizontal: 25px;
$padding-standard: 15px;

$margin-side: 20px;
$stat-margin: 10px;
$video-margin-right: 10px;


$icon-size: 30px;
$icon-height: 20px;
$image-size: (180px, 100px); 
$thumbnail-size: (120px, 70px); 


$border-radius-large: 20px;
$text-color: #333; 

// Primary Colors
$black: #323232;
$blue: #0095FF;
$silver: #AFAFAF;
$white: #FFFFFF;

// Secondary Colors
$dark-blue: #0065AD;
$dark-white: #E1E1E1;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;


















