@import "../../styles/mixin";
@import "../../styles/variables";

.comment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 15px 20px 20px 0;
    border-bottom: 1px solid $mercury;

    @include tablet {
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
    }

    &__user-icon {
        background: url('../../assets/Images/Mohan-muruge.jpg') no-repeat center / cover;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        margin-right: 15px;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }

        &::before {
            content: 'change user name';
            position: absolute;
            top: -40px;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgba(0, 0, 0, 0.7);
            color: #fff;
            padding: 5px;
            border-radius: 5px;
            font-size: 8px;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &:hover::before {
            opacity: 1;
        }

        @include tablet {
            margin-right: 10%;
            margin-left: 10px;
        }
    }

    textarea {
        width: 79%;
        height: 120px;
        resize: none;
        border-radius: 5px;
        text-indent: 15px;
        background-color: $alabaster;
        border-color: $mercury;

        @include tablet {
            width: 60%;
            height: 35px;
            line-height: 32px;
        }
    }

    button {
        margin-top: 20px;
        width: 80%;
        background: url('../../assets/Icons/add_comment.svg') no-repeat 10px center / 20px 20px;
        background-color: $blue;
        height: 50px;
        border-radius: 5px;
        border: none;
        font-family: 'Avenir Next Demi';
        color: $white;

        &:hover {
            background-color: $dark-blue;
            cursor: pointer;
        }

        @include tablet {
            width: 22%;
            height: 40px;
            margin-top: 0;
            margin-left: 20px;
        }
    }
}

.comments_titles {
    font-family: 'Avenir Next Regular';
    color: $silver;
    font-size: 0.8rem;
    margin: 0;
    padding-left: 19%;

    @include tablet {
        padding-top: 20px;
        padding-left: 16%;
    }
}
