@import "../../styles/mixin";
@import "../../styles/variables";

.comments {
    padding-left: $padding-horizontal;
    padding-right: $padding-horizontal;

    &__item {
        display: flex;
        margin: 5px 0;
        border-bottom: 1px solid $border-color;
        padding-bottom: 15px;
        margin-bottom: 5px;

        &__content {
            flex-grow: 1;
        }

        &__author {
            font-weight: bold;
        }
    }

    &__from {
        display: flex;
        justify-content: space-between;
    }
}

.comments-title {
    margin-left: $margin-side;
}

.comments__user-icon {
    margin-right: $margin-side;
    margin-top: $margin-side;
    position: relative;

    &::after {
        content: "";
        background-color: $beige-color;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        display: block;
    }
}

.comments__text {
    margin: 0;
}
