@import "../../styles/mixin";
@import "../../styles/variables";

.comments {
    &__item {
        display: flex;
        border-bottom: 1px solid $mercury;
        padding-bottom: 15px;
        position: relative;

        &:hover .comments__button-delete {
            display: block;
        }
        .comments__button-delete {
            display: none;
            position: absolute;
            transform: scale(1.1);
            right: 10px;
            top: 10px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
        }

        &__content {
            flex-grow: 1;
        }
    }

    &__from {
        display: flex;
        justify-content: space-between;
        padding-right: $padding-horizontal;
    }
    &__author {
        font-family:  'Avenir Next Bold';
        font-size: 0.82rem;
        margin: 20px 0 10px 20px ;
        padding: 0;
    }

    &__date {
        color: $silver;
        font-size: 0.82rem;
        font-family: 'Avenir Next Regular';
        margin: 20px 0 0 0;
        padding: 0;
    }

    &__user-icon {
        margin-right: $margin-side;
        margin-top: $margin-side;
        position: relative;
    
        &::after {
            content: "";
            background-color: $mercury;
            width: 42px;
            height: 42px;
            border-radius: 50%;
            background-size: cover;
            background-position: center;
            display: block;
        }
}
}
.comments-title {
font-family:  'Avenir Next Bold';
font-size: 0.8rem;
}
.comments__text {
    margin: 0;
    padding-left: 22px;
    font-family: 'Avenir Next Regular';
    font-size: 0.82rem;
}

