@import "./styles/mixin";
@import "./styles/variables";

@font-face {
  font-family: 'Avenir Next Regular';
  src: url('./assets/Font/AvenirNextLTPro-Regular.otf') format('woff');
}

@font-face {
  font-family: 'Avenir Next Demi';
  src: url('./assets/Font/AvenirNextLTPro-Demi.otf') format('woff');
}

@font-face {
  font-family: 'Avenir Next Bold';
  src: url('./assets/Font/AvenirNextLTPro-Bold.otf') format('woff');
}

body {
  margin: 0;
  font-family: 'Avenir Next Regular', 'Avenir Next Demi', 'Avenir Next Bold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
