@import "../../styles/mixin";
@import "../../styles/variables";

.after-hero-video {
  padding-left: 10px;
  padding-right: 10px;

  @include desktop  {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
}

.hero__name, .comments-container {

  padding-left: 10px;
  padding-right: 10px;

  @include tablet  {
    padding-left: 40px;
    padding-right: 30px;
  }

  @media (min-width: 1280px)  {
    width: 54%;
    box-shadow: 1px 0 0 0 $mercury;
    padding-left: 100px;
  }
  @media (min-width: 1384px){
    width: 55%;
    box-shadow: 1px 0 0 0 $mercury;
    padding-left: 100px;
  }
  @media (min-width: 1470px){
    width: 56%;
    box-shadow: 1px 0 0 0 $mercury;
    padding-left: 100px;
  }
}