@import "../../styles/mixin";
@import "../../styles/variables";

.hero {

  &__description {
    padding-right: 20px;
    font-family:'Avenir Next Regular' ;
    font-size: 0.82rem ;
  }
  &__title {
    font-family: 'Avenir Next Bold';
    font-size: 1.5rem;

    @include tablet {
      font-size: 2.0625rem;
    }

  }
  &__stats {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    border-top:1px solid $mercury;
    border-bottom: 1px solid $mercury;

    @include tablet  {
      border-top: none;
      width: 100%;
      justify-content: space-between;
    }
  }

  &__channel {
    width: 50%;

    @include tablet  {
      width: 45%;
      display: flex;
    }
  }

  &__views,
  &__like {
    display: flex;
    align-items: center;
    margin-right: $stat-margin; 
    padding: 5px 0;
    background: none;
    border: none;
    color: $silver; 
    padding: 5px; 
    cursor: pointer;

    @include tablet  {
      margin-right: 0; 
      margin: 0 $stat-margin;
    }
    
    &::before {
      display: inline-block;
      width: $icon-size;
      height: $icon-height;
      margin-right: 2px;
      vertical-align: middle;
    }
  }

  &__views::before {
    content: url('../../assets/Icons/views.svg');
  }

  &__like::before {
    content: url('../../assets/Icons/likes.svg');
  }

  &__statistic {
    @include tablet  {
      display: flex;
      align-items: center;
    }
  }

  h2, h4 {
    margin: 0;
    padding: 5px 0;
  }
}

.hero__channel__author {
  @include tablet  {
    margin: 0;
    font-family: 'Avenir Next Demi';
    font-size: 0.8125rem;

    @include tablet {
      font-size: 0.875rem;
    }
  }
}

.hero__channel__data {
  font-family: 'Avenir Next Regular';
  font-size: 0.8125rem;
  color: $silver;
  
  @include tablet {
    margin: 0px 40px;
  }
}
